/****************
Home Page
****************/
body a{
  text-decoration: none;
}
 #header{
  background-color: #FF5247;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#top-nav ,
#bottom-nav {
  border-bottom: 1px black solid;
}

#top-nav ul , 
#bottom-nav ul{
  display: flex;
  justify-content: center;
}

#top-nav li,
#bottom-nav li{
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
}

#top-nav a ,
#bottom-nav a{
  text-decoration: none;
  color: black;
}

#top-nav li:not , 
#bottom-nav li:not (:last-child){
  border-right: 1px black solid;
}

#main-content{
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
}

.main,
.side{
  background-color: #FF5247;
  color: white;
}

.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main img,
.main p{
  width: 85%;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}


.side img,
.side p{
  width: 80%;
  color: white;
}

.side img{
  margin-top: 1em;
}
.bottom{
  margin-top: 1em;
}
.side{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*************
PRODUCTS
*************/
/* parent conatiner*/
.products {}

.articles {
    color: pink;
    width: 25%;
    display: inline-block;

}

.image-size {
    width: 40%;
/*    height: 40px;*/
}

#products{

}



/*************
Employees
*************/
#wrapper {
  width: 80%;
  display: flex;
  margin: auto;
  background-color: #FF5247;
  flex-direction: column;
}

.employee {
  display: flex;
}

.cont1 {
  width: 50%;
  flex-direction: column;
  display: flex;
  padding: 5px 15px;
  align-items: center;
  margin-bottom: 25px;
}

.cont2 {
  flex-direction: row;
  border-left: solid 1px black;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: flex-start;
}

.item {
  display: flex;
  margin-right: 155px;
  margin-left: 55px;
}

h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
}



/*************
Mission
*************/



.mission p {
  margin:0 20px 20px 20px;
}

.mission title {
  font-weight: 20px;
  font-style: bold;
}

#dogandchicken {
  float:left;
  margin:20px;
  height: 50%;
  width: 50%;
}

#history {
  background-color:#FF5247; 
  margin:15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:white;
}

#history h1 {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  text-decoration: underline;
  padding-top: 20px;
}

.media {
  height:20px;
  width:20px;
}

.clearfix:after {
  display:table;
  clear:both;
  content:"";
}


/*************
Contact
*************/

#formDiv {
    height: 100%;
    width: 70%;
    border: 2px inset black;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #f6f6f6;
    box-shadow: 2px 4px 4px lightgray;
    clear: both;
}

.formStyle label {
    font-size: 1.5em;
    display: block;
    width: 150px;
}

.formStyle input {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.textarea {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.submitButton {
    width: 70px;
    height: 30px;
    background-color: #FF5247;
    margin-left: 5.5em;
    margin-bottom: 2em;
    font-size: 1em;
    color: white;
    box-shadow: 2px 3px lightgray;
}

.formText {
    width: 70%;
    height: 100%;
    margin-left: 5%;
    display: inline;
/*    float: left;*/
}

.contactHead {
    text-align: center;
/*    text-shadow: 1px 1px(gray) 0px;*/
}

.iconDiv {
    width: 30%;
    height: 100%;
    display: inline;
/*    float: left;*/
}

.iconDiv img {
    width: 50px;
    height: 50px;
}









