/****************
Home Page
****************/

 #header{
  background-color: #FF5247;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#top-nav ,
#bottom-nav {
  border-bottom: 1px black solid;
}

#top-nav ul , 
#bottom-nav ul{
  display: flex;
  justify-content: center;
}

#top-nav li,
#bottom-nav li{
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
}

#top-nav a ,
#bottom-nav a{
  text-decoration: none;
  color: black;
}

#top-nav li:not , 
#bottom-nav li:not (:last-child){
  border-right: 1px black solid;
}

#main-content{
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
}

.main,
.side{
  background-color: #FF5247;
  color: white;
}

.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main img{
  width: 85%;
}

aside{
  width: 30%;
}

.side img{
  width: 85%;
}

.side a{

}

.side{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*************
PRODUCTS
*************/
/* parent conatiner*/
.products {}

.articles {
    color: pink;
    width: 25%;
    display: inline-block;
}

.image-size {
    width: 80%;
/*    height: 40px;*/
}




/*************
Employees
*************/












/*************
Mission
*************/



.mission p {
  margin:0 20px 20px 20px;
}

.mission title {
  font-weight: 20px;
  font-style: bold;
}

#dogandchicken {
  float:left;
  margin:20px;
  height: 50%;
  width: 50%;
}

#history {
  background-color:#FF5247; 
  margin:15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:white;
}

#history h1 {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  text-decoration: underline;
  padding-top: 20px;
}

.media {
  height:20px;
  width:20px;
}



/*************
Contact
*************/















