/****************
Home Page
****************/



/************* sets all margins to zero to remove white edges*********
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
}
*/



body a{
  text-decoration: none;
}
 #header{
  background-color: #FF5247;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#top-nav ,
#bottom-nav {
  border-bottom: 1px black solid;
}

#top-nav ul ,
#bottom-nav ul{
  display: flex;
  justify-content: center;
}

#top-nav li,
#bottom-nav li{
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
}

#top-nav a ,
#bottom-nav a{
  text-decoration: none;
  color: black;
}

#top-nav li:not ,
#bottom-nav li:not (:last-child){
  border-right: 1px black solid;
}
/* ********hover option**************/
/*
#top-nav li :hover {
    background-color: darkred;
    color: white;
}
*/

#main-content{
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
}

.main,
.side{
  background-color: #FF5247;
  color: white;
}

.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main img,
.main p{
  width: 85%;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}


.side img,
.side p{
  width: 80%;
  color: white;
}

.side img{
  margin-top: 1em;
}
.bottom{
  margin-top: 1em;
}
.side{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*************
PRODUCTS
*************/
/* parent conatiner*/
.products {}

.articles {
    color: pink;
    width: 25%;
    display: inline-block;

}

.image-size {
    width: 40%;
/*    height: 40px;*/
}

#products{

}



/*************
Employees
*************/
#wrapper {
  width: 80%;
  display: flex;
  margin: auto;
  background-color: #FF5247;
  flex-direction: column;
}

.employee {
  display: flex;
}

.cont1 {
  width: 50%;
  flex-direction: column;
  display: flex;
  padding: 5px 15px;
  align-items: center;
  margin-bottom: 25px;
}

.cont2 {
  flex-direction: row;
  border-left: solid 1px black;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: flex-start;
}

.item {
  display: flex;
  margin-right: 155px;
  margin-left: 55px;
}

h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
}



/*************
Mission
*************/



.mission p {
  margin:0 20px 20px 20px;
}

.mission title {
  font-weight: 20px;
  font-style: bold;
}

#dogandchicken {
  float:left;
  margin:20px;
  height: 50%;
  width: 50%;
}

#history {
  background-color:#FF5247;
  margin:15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:white;
}

#history h1 {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  text-decoration: underline;
  padding-top: 20px;
}

.media {
  height:20px;
  width:20px;
}

.clearfix:after {
  display:table;
  clear:both;
  content:"";
}


/*************
Contact
*************/

#formDiv {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #f6f6f6;
}


.formStyle label {
    font-size: 1.5vw;
    display: block;
    width: 20%;
}

.formStyle input {
    font-size: 1.5vw;
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px black;
}

.textarea {
    font-size: 1.5vw;
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px black;
}

.submitButton {
    width: 70px;
    height: 30px;
    background-color: #FF5247;
    margin: 0 auto;
    margin-bottom: 2em;
    color: white;
    box-shadow: 2px 2px 2px black;
}

.submitButton:hover {
    color: black;
    background-color: yellow;
}

.formText {
    width: 50%;
    height: 100%;
    float: left;
    padding-left: 2em;
    background-color: silver;
    color: white;
    background-image: url("../images/wood.jpg");
    background-position: cover;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.contactHead {
    text-align: center;
}

.poppapic {
    width: 30%;
    height: 45%;
    float: right;
    margin-left: 0;
}

.poppapic img {
    width: 70%;
    height: 70%;
    border-radius: 100%;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 2px red;
}

.iconDiv {
    width: 25%;
    height: 50%;
    float: right;
    font-size: 1.2vw;
    margin-left: 0;
    margin-top: 10px;
    margin-right: 2em;
    padding-bottom: 5px;
    padding-right: 10px;
}

.iconDiv img {
    width: 25px;
    height: 25px;
    margin: 0;
}

.iconDiv p {
    margin: 0;
    padding-bottom: 1em;

}


.bodyWrapper {
    margin-top: 2em;
    height: 100%;
    width: 100%;
    background-color: #FF5247;
    box-shadow: 2px 4px 4px lightgray;
}

.funnychick {
    width: 30%;
    height: 30%;
    margin: 0;
    padding: 0;
/*    padding-left: 30px;*/
/*    margin-top: 50px;*/
}
.chicken {
    width: 15%;
    height: 15%;
    margin: 0 auto;
    float: left;
/*    border: 2px solid black;*/
}
.chickenman {
    width: 40%;
    height: 40%;
    float: right;
    padding-right: 10px;
    margin-bottom: 15px;
}

.chickenman:hover {
    width: 50%;
    height: 50%;
}

